<div class="row">
  <div class="col-md-6 mx-auto">
    <form action="/users" method="post">
      <div class="form-group">
        <label for="name"></label>
        <input class="form-control" type="text" name="name" placeholder="Name" required>
        <label for="username"></label>
        <input class="form-control" type="text" name="username" placeholder="Username" required>
        <label for="profile_image_url"></label>
        <input class="form-control" type="text" name="profile_image_url" placeholder="Profile Image URL" required>
        <label for="email"></label>
        <input class="form-control" type="email" name="email" placeholder="Email" required>
        <label for="password"></label>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        <label for="confirm_password"></label>
        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required>
      </div>
      <input class="btn btn-block btn-outline-dark" type="submit" value="Sign Up">
    </form>
  </div>
</div>
