<% if current_user %>
  Welcome, <%=current_user.username %>
<% end %>

Chitter
<ul class="peep-list">
  <% @peeps.each do |peep| %>
    <li class="peep"><%=peep.content %>
      Posted by <%=peep.user.username %> at <%=peep.time_posted %>
    </li>
    <% end %>
</ul>
