<% if current_user %>
  Welcome, <%=current_user.name %>

  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button" type="submit" value="Sign out">
  </form>
<% end %>

Chitter
<ul class="peep-list">
  <% @peeps.each do |peep| %>
    <li class="peep"><%=peep.content %>
      Posted by <%=peep.user.username %> at <%=peep.time_posted %>
    </li>
    <% end %>
</ul>
