<p>Add new Peep</p>
<form action="/peeps" method="post">
  <label for="content"></label>
  <textarea name="content" rows="8" placeholder="Write your peep here" cols="80"></textarea>
  <input type="submit" value="Peep">
</form>
