/* General Styles */

body {
  background-color: #e6ecf0 !important;
}

ul {
  list-style: none;
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

/* NavBar Styles */

nav {
  border-top: 1px solid rgba(199, 199, 199, 0.62);
  border-bottom: 1px solid rgba(199, 199, 199, 0.62);
}

  nav .nav-link{
  color: #01161E !important;
  margin-right: 20px;
  }

  nav .navbar-text {
  color: #01161E !important;
  margin-right: 20px;
  }

  nav .btn.btn-link{
  color: #01161E !important;
  text-decoration: none;
  }

/* Layout wrapper */

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

/* Layout container */

.container {
  background-color: white;
}

.row {
  background: #e6ecf0!important;
  margin-top: 15px;
}

.card {
  border: none!important;
}

/* Column backgrounds */

.col-md-12 {
  background-color: white;
}

/* Button backgrounds */

.btn.btn-block {
  background: white;
}

/* User Info */

#user_info p {
  font-size: 15px
}

#user_info img {
  border-radius: 25px;
  margin-top: 15px;
}

.card-title img {
  float: left;
  margin-left: -60px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

h5 span {
  font-size: 14px;
}

h6.mb-2.text-muted {
  margin-top: -10px;
  font-size: 14px;
}

h5.text-center {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(199, 199, 199, 0.62);
}

img#profile_image {
  height: 40px;
  width: 40px;
}

.peep {
  border-bottom: 1px solid rgba(199, 199, 199, 0.62);
}

ul#user-list {
  margin-top: 30px;
}

.user {
  margin-top: -30px;
}

.message, .error {
  margin-top: 5px;
}

#comment {
  margin-left: 20px;
  border-bottom: 1px solid rgba(199, 199, 199, 0.62)
}
