<li class="comment">
  <div class="card">
    <div class="card-block">
      <div id="comment" class="card-body">
        <h5 class="card-title"><%= comment.user.name %><span class="text-muted"> @<%= comment.user.username %></span></h5>
        <h6 class="mb-2 text-muted">Replying to <%=peep.user.username %></h6>
        <p class="card-text"><%= comment.content %></p>
      </div>
    </div>
  </div>
</li>
