<% if flash[:message] %>
  <div class="message">
    <h6 class="text-center"><%= flash[:message] %></h6>
  </div>
<% end %>
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
  <div class="error">
    <h6 class="text-center"><%= error %></h6>
  </div>
  <% end %>
<% end %>
