<li class="peep">
  <div class="card">
    <div class="card-block">
      <div class="card-body">
        <h5 class="card-title"><%= peep.user.name %>
          <img src="https://pbs.twimg.com/profile_images/903228832580329472/XPva8OL9_400x400.jpg">
          <h6 class="mb-2 text-muted">@<%= peep.user.username %> : <%= peep.time_posted.strftime('%D - %R') %></h6>
        </h5>
        <p class="card-text"><%= peep.content %></p>
      </div>
    </div>
  </div>
</li>
